body {
  background: aliceblue;
}

#pin_form input:focus,
#pin_form select:focus,
#pin_form textarea:focus,
#pin_form button:focus {
  outline: none;
}
#pin_form {
  background: aqua;
  position: absolute;
  width: 300px;
  left: 50%;
  margin-left: -180px;
  top: 50%;
  margin-top: -215px;
  padding: 2px;
  -webkit-box-shadow: 0px 5px 5px -0px rgba(0,0,0,0.3);
  -moz-box-shadow: 0px 5px 5px -0px rgba(0,0,0,0.3);
  box-shadow: 0px 5px 5px -0px rgba(0,0,0,0.3);
}
#pin_box {
  background: #ededed;
  margin: 3.5%;
  width: 92%;
  font-size: 2em;
  text-align: center;
  border: 1px solid #d5d5d5;
}
#pin_msg {
    background: transparent;
    color: white;
    width: 100%;
    font-size: 1.4em;
    text-align: center;
    border: 0px solid #d5d5d5;
}
#control_box {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}
#alarm_status {
	background: #ededed;
	width: 92%;
	font-size: 2em;
	text-align: center;
	border: 1px solid #d5d5d5;
}
#manage_alarm {
	width: 160px;
    font-size: 1.3em;
	margin-right: 12px;
}
#manage_pin {
    width: 160px;
    font-size: 1.3em;
    margin-left: 12px;
}
#motion_pic_box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-top: 20px;
}
.pin_button {
  background: #ededed;
  color: #7e7e7e;
  border: none;
  /*background: linear-gradient(to bottom, #fafafa, #eaeaea);
    -webkit-box-shadow: 0px 2px 2px -0px rgba(0,0,0,0.3);
       -moz-box-shadow: 0px 2px 2px -0px rgba(0,0,0,0.3);
            box-shadow: 0px 2px 2px -0px rgba(0,0,0,0.3);*/
  border-radius: 50%;
  font-size: 1.5em;
  text-align: center;
  width: 60px;
  height: 60px;
  margin: 7px 20px;
  padding: 0;
}
.enter {
  width: 36%;
  height: 50px;
}
.clear, .enter, .del {
  font-size: 1em;
}
.pin_button:hover {
  box-shadow: #506CE8 0 0 1px 1px;
}
.pin_button:active {
  background: #506CE8;
  color: #fff;
}
.clear:hover {
  box-shadow: red 0 0 1px 1px;
}
.clear:active {
  background: red;
  color: #fff;
}
.del:hover {
  box-shadow: #ff3c41 0 0 1px 1px;
}
.del:active {
  background: #ff3c41;
  color: #fff;
}
.enter:hover {
  box-shadow: #47cf73 0 0 1px 1px;
}
.enter:active {
  background: #47cf73;
  color: #fff;
}
.shadow{
  -webkit-box-shadow: 0px 5px 5px -0px rgba(0,0,0,0.3);
  -moz-box-shadow: 0px 5px 5px -0px rgba(0,0,0,0.3);
  box-shadow: 0px 5px 5px -0px rgba(0,0,0,0.3);
}
